/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: arvo;
}

.full-frame {
  position: relative;
  height: 100%;
  width: 100%;
}

.invisible {
  display: none !important;
}

.btn {
  background-color: #f0803a; /* Orangey */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: arvo;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
  font-size: 1.5em;
}
.btn:hover {
  background-color: #8e3d0b; /* Green */
  color: white;
}

.centered {
  text-align: center;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

.work-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 4em;
  margin-top: 0;
}

.play-title {
  font-family: 'Permanent Marker', cursive;
  font-size: 2.07em;
  margin-bottom: 0;
}
.title-text {
  width: 50%;
  margin: auto;
  font-size: 1.2em;
  line-height: 1.4;

}
.quiz-font {
  font-family: 'Arvo', serif;
}
.question-text {
  font-size: 2.5em;
  margin-top: 6em;
}
.mb-2 {
  margin-bottom: 2em;
}
fieldset {
  border: none
}
.start-working {
  padding: 1.5em;
  margin-top: 3em;
  font-size: 4em;
}
textarea {
  width: 100%;
  height: 99%;
  border: none;
  resize: none;
  font-size: 16pt;
}
.chat-me { text-align: right; }
.chat-box-margin { margin-bottom: 60px; }

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
